doctype html

html [ng-app="showoff"]
  head
    title emzy.cc
    script src='/javascripts/angular.min.js'
    script src='/js/controllers.js'

  body
    p Nothing here {{'yet' + '!'}}
    h1 media
